.btn-card {
  z-index: 2;
  background-color: #8f00ff;
  font-weight: bold;
  color: var(--card-label-color);
  margin-bottom: 2%;
  margin-top: 5%;
}

h4 {
  z-index: 2;
  position: relative;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 2; */
  color: var(--card-label-color);
}

p {
  z-index: 2;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}
